<div class="row">
  <div class="col-12">
    <div class="card text-white bg-dark mb-4">
      <div class="card-header">admin.menu</div>
      <div class="card-body">
        <h5 class="card-title">Main Menu</h5>
        <nav class="nav flex-column">
          <a class="nav-link text-warning" href="{{route('admin.nodes.get')}}">Nodes</a>
          <a class="nav-link text-warning" href="{{route('admin.groups.get')}}">Groups</a>
        </nav>
      </div>
      <div class="card-footer">
        <a href="/admin/logout" class="btn btn-sm btn-outline-warning">Logout</a>
      </div>
    </div>
  </div>
</div>
