<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Heading</th>
          <th scope="col">Slug</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          {% for node in nodes %}
            <tr>
              <th scope="row">{{node.id}}</th>
              <td>{{node.nodetype.name}}</td>
              <td>{{node.heading}}</td>
              <td>{{node.slug}}</td>
              <td><a href="#" class="btn btn-sm btn-primary">Edit</a></td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
