{% extends "base.html.twig" %}

{% block head %}
    <title>The Title</title>
    {% include 'admin/head.html.twig' with {'head' : head} only %}
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-4">
        {% include 'admin/navigation.html.twig' %}
      </div>
      <div class="col-8">
        {% if session('msg') %}
          {% include 'admin/msg.html.twig' with {'msg' : session('msg')} only %}
        {% endif %}

        {% if groups %}
          {% include 'admin/groups.html.twig' with {'groups' : groups.items} only %}
        {% endif %}

        {% if group %}
          {% include 'admin/group.html.twig' with {'group' : group.item} only %}
        {% endif %}

        {% if nodes %}
          {% include 'admin/nodes.html.twig' with {'nodes' : nodes.items} only %}
        {% endif %}

        {% if node %}
          {% include 'admin/node.html.twig' with {'node' : node.item} only %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
