/* bootstrap */
$white: #fff;
$gray-800: #343a40;
$yellow:  #ffc107;
$cyan:    #17a2b8;

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$input-bg: $yellow;
$input-color: $gray-800;
$input-focus-bg: $cyan;
$input-focus-color: $white;
